<nav class="navbar navbar-default global-nav-header" id="header-navbar">
  <div class="container">
    <div class="navbar-header">
      <button id="header-menu-btn" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="header-rdc-logo" href="/" class="navbar-brand header-rdc-logo" data-omtag="header-menu:network:realtor">
        <i class="svg-logo svg-logo-realtor"></i>
      </a>
      <a id="move-network-links" class="move-network-links" data-container="body" data-toggle="popover" data-placement="bottom" data-popover-content="#move-network-popover" data-original-title="" title="">
        <i class="svg-icon svg-icon-down-arrow-circle"></i>
      </a>
      <div id="move-network-popover" class="global-nav-hide">
        <ul class="global-nav-list-unstyled move-network-popover-list">
          <li class="global-nav-clearfix">
            <a href="/international/en" data-omtag="header-menu:network:international">
              <i class="svg-logo svg-logo-international"></i>
              <span>International - Properties in over 36 countries in 11 languages</span>
            </a>
          </li>
          <li class="global-nav-clearfix">
            <a href="http://commercialsearch.realtor.com/" data-omtag="header-menu:network:commerical">
              <i class="svg-logo svg-logo-commercial"></i>
              <span>Commercial - Find office, industrial, retail and other commercial real estate</span>
            </a>
          </li>
          <li class="global-nav-clearfix">
            <a href="http://moving.com/" data-omtag="header-menu:network:moving">
              <i class="svg-logo svg-logo-moving"></i>
              <span>Moving.com - Moving quotes, tips, supplies, and tools</span>
            </a>
          </li>
          <li class="global-nav-clearfix">
            <a href="http://www.seniorhousingnet.com/" data-omtag="header-menu:network:senior">
              <i class="svg-logo svg-logo-seniorhousing"></i>
              <span>SeniorHousingNet.com - Find assisted living, nursing homes, and senior communities</span>
            </a>
          </li>
          <li class="global-nav-clearfix">
            <a href="http://www.doorsteps.com/?utm_source=realtor&amp;utm_medium=top_nav&amp;utm_campaign=rdc_nav/" data-omtag="header-menu:network:doorsteps">
              <i class="svg-logo svg-logo-doorsteps"></i>
              <span>Doorsteps - Start your homebuying process</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="header-login-wrapper">
      <ul class="nav navbar-nav navbar-right">
          <li id="header-login-menu" class="dropdown header-login-menu">
            <a href="https://myaccount.realtor.com/reg/#/signin?return_url=http://www.realtor.com/" data-omtag="header-menu:my-account:login">
              <span class="header-login-text">Log In</span>
              <span class="header-login-icon"><i class="svg-icon svg-icon-user"></i></span>
            </a>
            <div class="dropdown-menu dropdown-hover-login dropdown-hover" role="menu">
              <p class="global-nav-text-center">Log in to save your favorite<br>
                properties and searches.</p>
              <a class="global-nav-btn global-nav-login-btn" href="https://myaccount.realtor.com/reg/#/signin?return_url=http://www.realtor.com/" data-omtag="header-menu:my-account:login">Log In</a>
              <p class="global-nav-text-center">No account? <a href="https://myaccount.realtor.com/reg#/reg?return_url=http://www.realtor.com/">Sign Up</a></p>
              <span class="divider"></span>
              <h5>For Agents</h5>
              <ul class="global-nav-list-horizontal global-nav-list-style-line">
                <li>
                  <a href="https://solutioncenter.realtor.com/ControlPanel/Login.aspx" target="_blank" data-omtag="header-menu:my-acct:agents:login">Log In <i class="svg-icon svg-icon-external"></i></a>
                </li>
                <li>
                  <a href="http://support.realtor.com/" target="_blank" data-omtag="header-menu:my-acct:agents:support">Help <i class="svg-icon svg-icon-external" target="_blank"></i></a>
                </li>
                <li>
                  <a href="http://marketing.realtor.com/" target="_blank" data-omtag="header-menu:my-acct:agents:products">Products <i class="svg-icon svg-icon-external" target="_blank"></i></a>
                </li>
              </ul>
            </div>
          </li>
      </ul>
    </div>
    <div id="header-nav-menu" class="nav-menu-desktop">
      <ul class="nav navbar-nav navbar-main-links">
        <li class="dropdown active">
          <a href="/" class="dropdown-toggle disabled dropdown-toggle-desktop" data-toggle="dropdown" role="button" aria-expanded="false" data-omtag="header-menu:buy">Buy</a>
          <span class="dropdown-toggle-mobile"><i class="svg-icon svg-icon-angle-down svg-menu-icons"></i></span>
          <div class="dropdown-menu dropdown-hover dropdown-multicolumn" role="menu">
            <div class="dropdown-headline">Updated every 15 mins</div>
            <ul class="global-nav-list-unstyled">
              <li class="dropdown-header"><i class="svg-icon svg-menu-icons svg-icon-home-for-sale"></i>Homes for Sale</li>
                <li>
                  <a data-omtag="header-menu:buy:all-homes" href="/realestateforsale">All Homes</a>
                </li>
                <li>
                  <a data-omtag="header-menu:buy:new-homes" href="/newhomes">New Homes &amp; Communities</a>
                </li>
                <li>
                  <a data-omtag="header-menu:buy:recently-sold" href="/newhomes">New Construction</a>
                </li>
                <li>
                  <a data-omtag="header-menu:buy:recently-sold" href="/foreclosure">Foreclosures</a>
                </li>
            </ul>
            <ul class="global-nav-list-unstyled">
              <li class="dropdown-header"><i class="svg-icon svg-icon-home-values svg-menu-icons"></i>Home Values</li>
                <li>
                  <a data-omtag="header-menu:buy:recently-sold" href="/soldhomes">Recently Sold</a>
                </li>
                <li><a href="/homevalues" data-omtag="header-menu:buy:property-records">Property Records</a></li>
              <hr class="global-nav-links-divider">
              <li><a href="/advice/buy" data-omtag="header-menu:buy:homeValues:buying-tips">Home Buying Tips</a></li>
              <li><a href="/advice/sell" data-omtag="header-menu:buy:homeValues:selling-tips">Home Selling Tips</a></li>
            </ul>
          </div>
        </li>
        <li class="dropdown">
          <a href="/rentals" class="dropdown-toggle disabled dropdown-toggle-desktop" data-toggle="dropdown" data-omtag="header-menu:rent">Rent</a>
          <span class="dropdown-toggle-mobile"><i class="svg-icon svg-icon-angle-down svg-menu-icons"></i></span>
          <div class="dropdown-menu dropdown-hover dropdown-multicolumn" role="menu">
            <div class="dropdown-headline">Updated every 15 mins</div>
            <ul class="global-nav-list-unstyled">
              <li class="dropdown-header"><i class="svg-icon svg-icon-apt-for-rent svg-menu-icons"></i>Apartments for Rent</li>
                <li><a href="/rentals?styp=1" data-omtag="header-menu:rent:apartments">Apartments For Rent</a></li>
                <li><a href="/rentals?styp=2" data-omtag="header-menu:rent:condo/townhouses">House/Condo Rentals</a></li>
                <li><a href="/rentals?styp=3" data-omtag="header-menu:rent:all-rentals">All Rentals</a></li>
            </ul>
            <ul class="global-nav-list-unstyled">
              <li class="dropdown-header"><i class="svg-icon svg-icon-trending svg-menu-icons"></i>Trending</li>
              <li><a href="/advice/rent/" data-omtag="header-menu:rent:advice">Renting Advice</a></li>
              <li><a href="/news/tag/rentals/" data-omtag="header-menu:editorial:news">Latest Renting News</a></li>
              <li><a href="/advice/tag/petspets/" data-omtag="header-menu:rent:advice">Renting With Pets</a></li>
            </ul>
          </div>
        </li>
        <li class="dropdown">
          <a href="/mortgage/" class="dropdown-toggle disabled dropdown-toggle-desktop" data-toggle="dropdown" role="button" aria-expanded="false" data-omtag="header-menu:finance">Mortgage</a>
          <span class="dropdown-toggle-mobile"><i class="svg-icon svg-icon-angle-down svg-menu-icons"></i></span>
          <div class="dropdown-menu dropdown-hover dropdown-multicolumn" role="menu">
            <div class="dropdown-headline">Get the best mortgage for your home</div>
            <ul class="global-nav-list-unstyled">
              <li class="dropdown-header"><i class="svg-icon svg-icon-mortgage svg-menu-icons"></i>Mortgages</li>
              <li><a href="/mortgage/rates/" data-omtag="header-menu:finance:mortgages-rates:purchase">Mortgage Rates</a></li>
              <li><a href="/mortgage/rates/#loan_purpose=refinance" data-omtag="header-menu:finance:mortgages-rates:refinance">Refinance Rates</a></li>
              <li><a href="/advice/finance/" data-omtag="header-menu:finance:advice">Finance Advice</a></li>
              <li><a href="/mortgage/va-home-loan-center/" data-omtag="header-menu:finance:mortgage-rates:veteransHub">For Veterans</a></li>
            </ul>
            <ul class="global-nav-list-unstyled">
              <li class="dropdown-header"><i class="svg-icon svg-icon-mortgage-calculator svg-menu-icons"></i>Calculator</li>
              <li><a href="/mortgage/tools/mortgage-calculator/" data-omtag="header-menu:finance:calculators:mortgage">Mortgage Calculator</a></li>
              <li><a href="/mortgage/tools/refinance-calculator/" data-omtag="header-menu:finance:calculators:refinance">Refinance Calculator</a></li>
              <li><a href="/mortgage/tools/affordability-calculator/" data-omtag="header-menu:finance:calculators:affordability">What Can I Afford</a></li>
              <li><a href="/mortgage/tools/rent-or-buy-calculator/" data-omtag="header-menu:finance:calculators:rent-buy">Rent vs. Buy Calculator</a></li>
            </ul>
          </div>
        </li>
        <li>
          <a href="/realestateagents/" data-omtag="header-menu:realtors"><span class="font-size-xsmall">Find</span> Realtors<sup>®</sup></a>
        </li>
        <li class="dropdown">
          <a href="/local/" class="dropdown-toggle disabled dropdown-toggle-desktop" data-toggle="dropdown" role="button" aria-expanded="false" data-omtag="header-menu:learn">Local</a>
          <span class="dropdown-toggle-mobile"><i class="svg-icon svg-icon-angle-down svg-menu-icons"></i></span>
          <div class="dropdown-menu dropdown-hover dropdown-multicolumn" role="menu">
            <div class="dropdown-headline">Find great schools and neighborhoods</div>
            <ul class="global-nav-list-unstyled">
              <li class="dropdown-header"><i class="svg-icon svg-icon-local-info svg-menu-icons"></i>Local Info</li>
                <li><a href="/local" data-omtag="header-menu:learn:overview">Local Information <span class="display-block">for Neighborhoods &amp; Cities</span></a></li>
            </ul>
          </div>
        </li>
        <li class="dropdown">
          <a href="/news/" class="dropdown-toggle disabled dropdown-toggle-desktop" data-toggle="dropdown" role="button" aria-expanded="false" data-omtag="header-menu:editorial:news-advice">News &amp; Advice</a>
          <span class="dropdown-toggle-mobile"><i class="svg-icon svg-icon-angle-down svg-menu-icons"></i></span>
          <div class="dropdown-menu dropdown-hover dropdown-multicolumn" role="menu">
            <div class="dropdown-headline">Your home for all things real estate</div>
            <ul class="global-nav-list-unstyled">
              <li class="dropdown-header"><i class="svg-icon svg-icon-news svg-menu-icons"></i><a href="/news/" data-omtag="header-menu:editorial:news">News</a></li>
              <li><a href="/news" data-omtag="header-menu:editorial:latest-news">The Latest News</a></li>
              <li><a href="/news/trends" data-omtag="header-menu:editorial:news-trends">Housing Trends</a></li>
              <li><a href="/news/celebrity-real-estate" data-omtag="header-menu:editorial:news-celebrity">Celebrity Real Estate</a></li>
              <li><a href="/news/unique-homes" data-omtag="header-menu:editorial:news-unique-homes">Unique Homes</a></li>
              <li><a href="/data-portal/realestatestatistics" data-omtag="header-menu:editorial:news-data-center">Data Center</a></li>
                <li class="dropdown-list-item-icon"><i class="svg-icon svg-icon-video svg-menu-icons"></i><a data-omtag="header-menu:editorial:videos" href="/videos">Videos</a></li>
                <li><a data-omtag="header-menu:editorial:real-estate-videos" href="/videos">Real Estate Videos</a></li>
            </ul>
            <ul class="global-nav-list-unstyled">
              <li class="dropdown-header"><i class="svg-icon svg-icon-advice svg-menu-icons"></i><a href="/advice/" data-omtag="header-menu:editorial:advice">Advice</a></li>
              <li><a href="/advice/buy/" data-omtag="header-menu:editorial:advice-Buy">Buy</a></li>
              <li><a href="/advice/sell/" data-omtag="header-menu:editorial:advice-Sell">Sell</a></li>
              <li><a href="/advice/rent/" data-omtag="header-menu:editorial:advice-Rent">Rent</a></li>
              <li><a href="/advice/finance/" data-omtag="header-menu:editorial:advice-Finance">Finance</a></li>
              <li><a href="/advice/move/" data-omtag="header-menu:editorial:advice-Move">Move</a></li>
              <li><a href="/advice/home-improvement/" data-omtag="header-menu:editorial:advice-homeImprov">Home Improvement</a></li>
              <li><a href="/advice/for-pros/" data-omtag="header-menu:editorial:advice-Pros">For Pros</a></li>
              <li><a href="/advice/guides/va-loan/" data-omtag="header-menu:advice:guide:veterans">Veterans Home Buying Guide</a></li>
            </ul>
          </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right navbar-side-links">
        <li id="header-mobile-menu" class="dropdown">
          <a href="/mobile" class="dropdown-toggle disabled mobile-dropdown-icon" data-toggle="dropdown" role="button" aria-expanded="false" data-omtag="header-menu:mobile">
            <i class="svg-icon svg-icon-mobile-menu-toggle"></i>
            <span class="text-mobile-menu-toggle">Mobile Apps</span>
          </a>
          <span class="dropdown-toggle-mobile"><i class="svg-icon svg-icon-angle-down svg-menu-icons"></i></span>
          <div class="dropdown-menu dropdown-hover dropdown-mobile-link" role="menu">
            <ul class="global-nav-list-unstyled">
              <li>
                <i class="svg-icon svg-icon-app-mobile link-icon svg-menu-icons"></i>
                <div class="link-icon-content">
                  <a class="mobile-link-title" href="/mobile?iid=rdc_hdrmenu_mobile" data-omtag="header-menu:mobile:core">Realtor.com<sup>®</sup> mobile apps</a>
                  Find homes for sale or rent on<br>
                  iPhone, iPad, and Android
                </div>
                <div class="global-nav-clearfix"></div>
              </li>
              <li class="divider"></li>
              <li>
                <i class="svg-icon svg-icon-app-realtor link-icon svg-menu-icons"></i>
                <div class="link-icon-content">
                  <a class="mobile-link-title" href="/mobile?iid=rdc_hdrmenu_mobile" data-omtag="header-menu:mobile:core">Realtor.com<sup>®</sup> Real Estate</a>
                  <ul class="global-nav-list-horizontal global-nav-list-style-line">
                    <li><a href="https://itunes.apple.com/us/app/realtor.com-real-estate-homes/id336698281?mt=8" data-omtag="header-menu:mobile:ios-core">iOS</a></li>
                    <li><a href="http://c00.adobe.com/b2d5a4e1-adc8-4a1d-a2b3-d5c186e399ba/dsp_rdc_mobile_uni-header/g/com.move.realtor" data-omtag="header-menu:mobile:android-core">Android</a></li>
                    <li><a href="http://apps.microsoft.com/windows/en-us/app/real-estate-search-by-realtor/ec047c00-1692-4e8f-8a62-1877d1716b24" data-omtag="header-menu:mobile:windows-core">Windows</a></li>
                  </ul>
                </div>
                <div class="global-nav-clearfix"></div>
              </li>
              <li>
                <i class="svg-icon svg-icon-app-rentals link-icon svg-menu-icons"></i>
                <div class="link-icon-content">
                  <a class="mobile-link-title" href="http://marketing.realtor.com/rental-app/?iid=rdc_hdrmenu_mobile" data-omtag="header-menu:mobile:rentals">Realtor.com<sup>®</sup> Rentals</a>
                  <ul class="global-nav-list-horizontal global-nav-list-style-line">
                    <li><a href="https://itunes.apple.com/us/app/realtor.com-rentals-apartments/id639619979?ls=1&amp;mt=8" data-omtag="header-menu:mobile:rentals-ios">iOS</a></li>
                    <li><a href="https://play.google.com/store/apps/details?id=com.move.rentals" data-omtag="header-menu:mobile:rentals-android">Android</a></li>
                  </ul>
                </div>
                <div class="global-nav-clearfix"></div>
              </li>
              <li>
                <i class="svg-icon svg-icon-app-mortgage link-icon svg-menu-icons"></i>
                <div class="link-icon-content">
                  <a class="mobile-link-title" href="/mobile?iid=rdc_hdrmenu_mobile" data-omtag="header-menu:mobile:mortgage">Realtor.com<sup>®</sup> Mortgage Calculator</a>
                  <ul class="global-nav-list-horizontal global-nav-list-style-line">
                    <li><a href="https://itunes.apple.com/us/app/realtor.com-real-estate-homes/id875060754?mt=8" data-omtag="header-menu:mobile:ios-mortgage">iOS</a></li>
                    <li><a href="https://play.google.com/store/apps/details?id=com.move.mortgage" data-omtag="header-menu:mobile:android-mortgage">Android</a></li>
                  </ul>
                </div>
                <div class="global-nav-clearfix"></div>
              </li>
              <li>
                <i class="svg-icon svg-icon-app-doorsteps link-icon svg-menu-icons"></i>
                <div class="link-icon-content">
                  <a class="mobile-link-title" href="/mobile?iid=rdc_hdrmenu_mobile" data-omtag="header-menu:mobile:doorsteps">Doorsteps Swipe<sup>™</sup></a>
                  <ul class="global-nav-list-horizontal global-nav-list-style-line">
                    <li><a href="https://itunes.apple.com/app/id839814107" data-omtag="header-menu:mobile:ios-swipe">iOS</a></li>
                  </ul>
                </div>
                <div class="global-nav-clearfix"></div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>