<header id="srp-header" class="margin-top-lg margin-bottom-lg">
    <div class="srp-list-header">
    <h1 class="ellipsis">Something releated to Seller</h1>
</header>

<%# sample Listing 1 %>
<div id="1" class="srp-item listing-showcase">
  <div class="aspect-content">
    <div class="srp-item-photo-wrap">
      <div class="srp-item-photo" data-label="property-photo">
        <a href="http://www.realtor.com/realestateandhomes-detail/6014-Salida-del-Sol_San-Jose_CA_95123_M18126-74892">
          <img data-src="http://p.rdcpix.com/v01/lf83d8945-m0xd-w225_h169_q80.jpg" alt="6014 Salida Del Sol, San Jose, CA 95123" title="6014 Salida Del Sol, San Jose, CA 95123" class="js-srp-listing-photos lazy-loaded" src="http://p.rdcpix.com/v01/lf83d8945-m0xd-w225_h169_q80.jpg">
        </a>
        <div class="srp-item-photo-count hidden-xs hidden-xxs">
          <span class="label label-dark-transparent">
            <i class="ra ra-camera"></i>
            <span data-label="property-photo-count">24</span>
          </span>
        </div>
        <div class="srp-item-photo-label">
          <span class="label label-gray-darker label-corner" data-label="property-label-new">Sold</span>
        </div>
      </div>
    </div>
    <div class="srp-item-body">
      <ul class="list-unstyled">
        <li class="srp-item-address ellipsis" data-label="property-address">
          <a href="http://www.realtor.com/realestateandhomes-detail/6014-Salida-del-Sol_San-Jose_CA_95123_M18126-74892">
            <span class="listing-street-address">Listing 1</span>,
            <span class="listing-city">San Jose</span>,
            <span class="listing-region">CA</span>
            <span class="listing-postal">95123</span>
          </a>
        </li>

        <li class="srp-item-neighborhood ellipsis link-tertiary hidden-xxs" data-label="property-neighborhood">
          <a href="/soldhomeprices/Blossom-Valley_San-Jose_CA">Blossom Valley</a>
        </li>
          <li class="srp-item-price srp-items-floated" data-label="property-price">
            $665,000<span class="srp-item-price-helper"> <span class="hidden-xxs">on</span> January  4, 2016 </span>
          </li>
          <li>
            <ul class="property-meta list-horizontal list-style-disc list-spaced">
              <li data-label="property-meta-beds"><span class="data-value">3</span> bd</li>
              <li data-label="property-meta-baths"><span class="data-value">2</span> ba</li>
              <li data-label="property-meta-sqft"><span class="data-value">1,270</span> sq ft</li>
              <li data-label="property-meta-lotsize"><span class="data-value">5,941</span> sq ft lot</li>
            </ul>

          </li>
        <li class="srp-item-type srp-item-tags ellipsis hidden-xs hidden-xxs" data-label="property-type">
          <span class="srp-property-type">Single Family Home</span>
        </li>
        <li class="srp-item-broker-lg">
          <div class="srp-item-broker-wrap">
            <div class="srp-item-signrider" data-label="property-signrider">
              <a href="?MlsName=mlslistings&amp;MlsListID=81522735&amp;SourceID=realtor" rel="nofollow">
                <img class="srp-broker-logo" alt="Keller Williams Bay Area Estates" title="Keller Williams Bay Area Estates" data-omtag="srp-listMap:result:showcase:office:logo" src="http://p.rdcpix.com/v12/f37b31c00-c0s.gif">
              </a>
            </div>
            <div class="srp-item-broker-text">
              <span>Brokered by </span><span data-label="property-broker">Kw Bay Area Estates</span>
            </div>
          </div>
        </li>
        <li class="srp-item-broker ellipsis">
          Brokered by <span data-label="property-broker">Kw Bay Area Estates</span>
        </li>
      </ul>
    </div>
    <div class="srp-item-ldp-link hidden-xxs hidden-xs hidden-sm hidden-md">
      <a href="http://www.realtor.com/realestateandhomes-detail/6014-Salida-del-Sol_San-Jose_CA_95123_M18126-74892" class="btn btn-primary">View details</a>
    </div>
  </div>
</div>

<%# sample Listing 2 %>
<div id="2" class="srp-item listing-showcase">
  <div class="aspect-content">
    <div class="srp-item-photo-wrap">
      <div class="srp-item-photo" data-label="property-photo">
        <a href="http://www.realtor.com/realestateandhomes-detail/7072-Anjou-Creek-Cir_San-Jose_CA_95120_M11526-67231">
          <img data-src="http://p.rdcpix.com/v02/laf5d8245-w0xd-w225_h169_q80.jpg" alt="7072 Anjou Creek Cir, San Jose, CA 95120" title="7072 Anjou Creek Cir, San Jose, CA 95120" class="js-srp-listing-photos lazy-loaded" itemprop="image" data-omtag="srp-listMap:result:photo" src="http://p.rdcpix.com/v02/laf5d8245-w0xd-w225_h169_q80.jpg">
        </a>
        <div class="srp-item-photo-count hidden-xs hidden-xxs">
          <span class="label label-dark-transparent">
            <i class="ra ra-camera"></i>
            <span data-label="property-photo-count">36</span>
          </span>
        </div>
        <div class="srp-item-photo-label">
          <span class="label label-gray-darker label-corner" data-label="property-label-new">Sold</span>
        </div>
      </div>
    </div>
    <div class="srp-item-body">
      <ul class="list-unstyled">
        <li class="srp-item-address ellipsis" data-label="property-address">
          <a href="http://www.realtor.com/realestateandhomes-detail/7072-Anjou-Creek-Cir_San-Jose_CA_95120_M11526-67231">
            <span class="listing-street-address">Listing 2</span>,
            <span class="listing-city">San Jose</span>,
            <span class="listing-region">CA</span>
            <span class="listing-postal">95120</span>
          </a>
        </li>

        <li class="srp-item-neighborhood ellipsis link-tertiary hidden-xxs" data-label="property-neighborhood">
          <a href="/soldhomeprices/Almaden-Valley_San-Jose_CA">Almaden Valley</a>
          <a href="/soldhomeprices/Orchard-Creek_San-Jose_CA">Orchard Creek</a>
        </li>
          <li class="srp-item-price srp-items-floated" data-label="property-price">
            $1,275,000<span class="srp-item-price-helper"> <span class="hidden-xxs">on</span> December 31, 2015 </span>
          </li>
          <li>
            <ul class="property-meta list-horizontal list-style-disc list-spaced">
              <li data-label="property-meta-beds"><span class="data-value">4</span> bd</li>
              <li data-label="property-meta-baths"><span class="data-value">2+</span> ba</li>
              <li data-label="property-meta-sqft"><span class="data-value">2,574</span> sq ft</li>
              <li data-label="property-meta-lotsize"><span class="data-value">7,272</span> sq ft lot</li>
            </ul>
          </li>
        <li class="srp-item-type srp-item-tags ellipsis hidden-xs hidden-xxs" data-label="property-type">
          <span class="srp-property-type">Single Family Home</span>
        </li>
        <li class="srp-item-broker-lg">
          <div class="srp-item-broker-wrap">
            <div class="srp-item-signrider" data-label="property-signrider">
              <a href="https://www.coldwellbankerhomes.com/listing/?zone=205&amp;utm_campaign=OLDP-RDC&amp;utm_source=RDC&amp;utm_medium=oldp&amp;utm_content=listing&amp;MlsName=mlslistings&amp;MlsListID=81521239&amp;SourceID=realtor" rel="nofollow">
                <img class="srp-broker-logo" data-omtag="srp-listMap:result:showcase:office:logo" src="http://p.rdcpix.com/v05/fc9670100-w0s.gif">
              </a>
            </div>
            <div class="srp-item-broker-text">
              <span>Brokered by </span><span data-label="property-broker">Coldwell Banker</span>
            </div>
          </div>
        </li>
        <li class="srp-item-broker ellipsis">
          Brokered by <span data-label="property-broker">Coldwell Banker</span>
        </li>
      </ul>
    </div>
    <div class="srp-item-ldp-link hidden-xxs hidden-xs hidden-sm hidden-md">
      <a href="http://www.realtor.com/realestateandhomes-detail/7072-Anjou-Creek-Cir_San-Jose_CA_95120_M11526-67231" class="btn btn-primary">View details</a>
    </div>
  </div>
</div>
