<div class="container srp-card-wrapper">
<div id="srp-sticky-ad-container">
     <div class="row">
     <section class="col-lg-9 col-md-8 srp-list-column">
          <div class="srp-list-marginless">
            <%= render partial: "listing" %>
          </div>
     </section>
     <%# end of SRP left column%>
     <aside class="col-lg-3 col-md-4 sidebar visible-md visible-lg">
     </aside>
     </div>
</div>
</div>
